@media (max-width: 1300px) {
  #navbar {
    padding: 0 1rem;
  }
}
@media (max-width: 800px) {
  #navbar_menu {
    position: absolute;
    top: 5.1rem;
    height: calc(100vh - 5.1rem);
    width: 60%;
    flex-direction: column;
    background-color: black;
  }
  #nav_ul {
    width: 100%;
    flex-direction: column;
  }
  #nav_ul li {
    margin-bottom: -11px;
    width: 100%;
    border-bottom: 1px solid rgb(71, 71, 71);
  }
  #nav_ul li a {
    font-weight: 500;
    font-size: 1.2rem;
    margin: 0.6rem 0;
  }
}

/* animation for light icon */
.light_mode_icon {
  animation: rotateRound 3s linear infinite;
}

@keyframes rotateRound {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
