@media (max-width: 1300px) {
  #navbar {
    padding: 0 1rem;
  }
}
@media (max-width: 800px) {
  #navbar_menu {
    position: absolute;
    top: 5.1rem;
    height: calc(100vh - 5.1rem);
    width: 60%;
    flex-direction: column;
    background-color: black;
  }
  #nav_ul {
    width: 100%;
    flex-direction: column;
  }
}

/* animation for light icon */
.light_mode_icon {
  animation: rotateRound 3s linear infinite;
}

@keyframes rotateRound {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
