@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
.custom-transition {
  @apply transition-all duration-300 ease-in;
}
.nav_link {
  @apply text-lg no-underline px-2 py-[1px] cursor-pointer rounded-md transition-all duration-300 ease-in hover:bg-slate-800 hover:text-white;
}
.nav_list {
  @apply list-none flex justify-center items-center;
}
.main_page_button {
  @apply bg-green-700 px-3 py-[1px] text-[1.2rem] shadow-sm custom-transition rounded shadow-blue-300 opacity-90 hover:bg-green-600 text-gray-100;
}

::selection {
  color: white;
  background-color: rgb(44, 135, 138);
}

/* skills page css */
.skills_box_class {
  @apply flex pt-5 justify-center items-center flex-col w-full md:w-[60%];
}
/* about page links */
.about_links {
  @apply text-blue-200 ;
}